extends layout
block content
  div.container
    div#chatContainer.row
      div.col-md-12
        div#messages.row
          div.col-md-8
            div#chat
          div.col-md-4
            div#connected
        div.row
          div.col-md-12
            form(action='')
              input#m(autocomplete='off')
              button send
    div.row
      div.col-md-12
        div#login
          input#user
          input#login(type='button', value='enviar', onclick='userLogin();')
          div#hola
