html
  head
    title#titlepage Socket.IO chat
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/socket.io/socket.io.js")
  body
    div.container
      block content
      script(src='bundle.js')
