* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#chatContainer {
  display: none;
}
#messages {
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
  height: 500px;
  background-color: #a5a293;
  overflow: scroll;
}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#users{
  height:700px;
  background-color:#eeeeee;
}
#connected{
  display: block;
  background-color: #dedcdc;
  height: 400px;
  margin: 40px 0 0 0;
}
#chat{
  display: block;
  background-color: #dedcdc;
  height: 400px;
  margin: 40px 0 0 0;
  padding: 10px 0px 10px 0px;
  overflow-y: scroll;
}
#titlepage{
  color:red;
}
